.idea
.DS_Store
*.iml


out/
build/

*.out
*.test
*.zip

projects/04/**/*.hack
projects/06/**/*.hack

projects/07/**/*.asm
projects/07/**/*.hack

projects/08/**/*.asm
projects/08/**/*.hack

projects/09/**/*.vm
projects/09/**/*.asm
projects/09/**/*.hack


projects/11/**/*.vm
projects/11/**/*.asm
projects/11/**/*.hack


projects/12/**/*.vm
projects/12/**/*.asm
projects/12/**/*.hack

 

